<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
<div id="container">
    {% include 'navbar.html' %}
<section>
    <h1>로그인</h1>
    <form action="" method="post">
<!--        일반 필드와 파일(이미지) 필드 멀티로 구성됨-->
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">로그인</button>
    </form>
</section>
</div>
</body>
</html>